<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.mealShop.dao.IMQnaDao"> 
	<resultMap type="java.util.HashMap" id="qnaMap"/>
	
	<!-- void getQna(HashMap<String, Object> paramMap); -->
	<select id="getQna" statementType="CALLABLE" parameterType="java.util.HashMap">
		{CALL getQna_m(
			#{qseq},
			#{ref_cursor, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=qnaMap}
		)}
	</select>

</mapper>