<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.mealShop.dao.IMQnaDao"> 
	<resultMap type="java.util.HashMap" id="qnaMap"/>
	
	<!-- 나의 QnA 조회 -->
	<select id="listQna"  statementType="CALLABLE" parameterType="java.util.HashMap">
	{CALL  listQna_m(
	#{startNum},
	#{endNum},
	#{id},
	#{ref_cursor, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=qnaMap}
	)}
	</select>
	
	<!-- 관리자 QnA 조회 -->
	<select id="getQna"  statementType="CALLABLE" parameterType="java.util.HashMap">
	{CALL getQna_m(#{qseq},
	#{ref_cursor, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=qnaMap}
	)}
	</select>
	
	<!-- 회원 QnA 등록 조회 -->
	<insert id="insertQna" statementType="CALLABLE" parameterType="java.util.HashMap">
	{CALL insertQna_m(#{id}, #{subject}, #{content})}
	</insert>
	
	<!-- 회원 QnA 등록 조회 -->
	<select id="getAllCount" statementType="CALLABLE" parameterType="java.util.HashMap">
   {CALL  getAllCountQna_m(
   #{cnt, mode=OUT, jdbcType=INTEGER}
   )}
	</select>
	
	<!-- QnA 전체 갯수 조회 -->
	<select id="nmlistQna"  statementType="CALLABLE" parameterType="java.util.HashMap">
	{CALL  nmlistQna_m(
	#{startNum},
	#{endNum},
	#{ref_cursor, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=qnaMap}
	)}
	</select>
	
	<!-- 비회원 QnA 갯수 조회 -->
	<select id="getAllCountnmQna" statementType="CALLABLE" parameterType="java.util.HashMap">
   {CALL  getAllCountnmQna_m(
   #{cnt, mode=OUT, jdbcType=INTEGER}
   )}
	</select>
	
	<!-- 비회원 QnA 등록 -->
	<insert id="insertnmQna" statementType="CALLABLE" parameterType="java.util.HashMap">
	{CALL insertnmQna_m(
	#{id}, #{pwd}, #{subject}, #{content}
	)}
	</insert>
	
	<!-- 비회원 QnA 등록 조회 -->
	<select id="getnmQna"  statementType="CALLABLE" parameterType="java.util.HashMap">
	{CALL getnmQna_m(#{nqseq},
	#{ref_cursor, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=qnaMap}
	)}
	</select>
	
	<!-- 비회원 비밀번호 조회 -->
	<select id="getNmqnaByNqseq"  statementType="CALLABLE" parameterType="java.util.HashMap">
	{CALL getNmqnaByNqseq_m(#{nqseq},
	#{ref_cursor, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=qnaMap}
	)}
	</select>
</mapper>