<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="com.mealShop.dao.IMReviewDao">
	<resultMap type="java.util.HashMap" id="reviewMap"/>
	
	<!-- void getReviewListByPseq(HashMap<String, Object> paramMap); -->
	<select id="getReviewListByPseq" statementType="CALLABLE" parameterType="java.util.HashMap">
		{CALL getReviewListByPseq_m(
			#{pseq},
			#{ref_cursor_getReview, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=reviewMap}
		)}
	</select>

	<!-- void getproductorderList(HashMap<String, Object> paramMap); -->
	<select id="getproductorderList" statementType="CALLABLE" parameterType="java.util.HashMap">
		{CALL productorderList_m(
			#{pseq},
			#{id, jdbcType=VARCHAR},
			#{ref_cursor_productorderList, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=reviewMap})
		}
	</select>
	
	<!-- void listReview(HashMap<String, Object> paramMap); -->
	<select id="listReview" statementType="CALLABLE" parameterType="java.util.HashMap">
		{CALL listReview_m(
			#{id},
			#{ref_cursor, mode=OUT, jdbcType=CURSOR, javaType=ResultSet, resultMap=reviewMap}
		)}
	</select>
	
	<!-- void reviewDelete(HashMap<String, Object> paramMap); -->
	<select id="reviewDelete" statementType="CALLABLE" parameterType="java.util.HashMap">
		{CALL reviewDelete_m(
			#{rseq}
		)}
	</select>
	
	<!-- void insertReview(HashMap<String, Object> paramMap); -->
	<select id="insertReview" statementType="CALLABLE" parameterType="java.util.HashMap">
		{CALL insertReview_m(#{id},
			#{content},
			#{pseq}
		)}
	</select>
	
	<!-- int getUserOrderCnt(HashMap<String, Object> paramMap); -->
	<select id="getUserOrderCnt" parameterType="hashmap" resultType="int">
		SELECT COUNT(*)
		FROM MORDER_VIEW
		WHERE ID = #{userId} AND PSEQ = #{pseq}
	</select>

	<!-- int getUserReviewCnt(HashMap<String, Object> paramMap); -->
	<select id="getUserReviewCnt" parameterType="hashmap" resultType="int">
		SELECT COUNT(*)
		FROM MREVIEW_VIEW
		WHERE ID = #{userId} AND R_PSEQ = #{pseq}
	</select>
	
</mapper>
